In [187]:
# Import Dependencies
import pandas as pd

In [188]:
csv_path = "../Resources/schools_complete.csv"
csv_path2 = "../Resources/students_complete.csv"
school_df = pd.read_csv(csv_path)
student_df = pd.read_csv(csv_path2)
student_df
school_df
schools = school_df["school_name"].nunique()
students = student_df["Student ID"].nunique()

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [191]:
#District Summary
total_schools = len(school_df['school_name'].unique())
total_students = student_df['Student ID'].count()
total_budget = school_df['budget'].sum()
avg_math_score = student_df['math_score'].mean()
avg_reading_score = student_df['reading_score'].mean()
passing_math_percent = (student_df[student_df['math_score'] >= 70]['Student ID'].count() / total_students) * 100
passing_reading_percent = (student_df[student_df['reading_score'] >= 70]['Student ID'].count() / total_students) * 100
passing_overall_percent = (student_df[(student_df['math_score'] >= 70) & (student_df['reading_score'] >= 70)]['Student ID'].count() / total_students) * 100
results_dict = {
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [avg_math_score],
    'Average Reading Score': [avg_reading_score],
    '% Passing Math': [passing_math_percent],
    '% Passing Reading': [passing_reading_percent],
    '% Overall Passing': [passing_overall_percent]
}
district_results_df = pd.DataFrame(data=results_dict)
print(district_results_df)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

In [194]:
#school summary
merged_df = pd.merge(school_df,student_df,on=["school_name"],how="inner")
merged_df["passing_math"] = merged_df['math_score'] >= 70
merged_df["passing_reading"] = merged_df['reading_score'] >= 70
merged_df["passing_overall"] = (merged_df['math_score'] >= 70) & (student_df['reading_score'] >= 70)
grouped_df = merged_df.groupby('school_name')

# Calculate the desired metrics for each school
total_students = grouped_df['Student ID'].count()
total_budget = grouped_df['budget'].mean()
avg_math_score = grouped_df['math_score'].mean()
avg_reading_score = grouped_df['reading_score'].mean()
passing_math_percent = (merged_df[merged_df["passing_math"] == True].groupby('school_name')['Student ID'].count() / total_students)*100
passing_reading_percent = (merged_df[merged_df['passing_reading'] == True].groupby('school_name')['Student ID'].count() / total_students)*100
passing_overall_percent = (merged_df[merged_df['passing_overall'] == True].groupby('school_name')['Student ID'].count() / total_students)*100
type = grouped_df['type'].unique()

# Combine the metrics into a single DataFrame
results_dict = {
    'type': type,
    'Total Students': total_students,
    'Total Budget': total_budget,
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': passing_math_percent,
    '% Passing Reading': passing_reading_percent,
    '% Overall Passing': passing_overall_percent
    
}
results_df = pd.DataFrame(data=results_dict)

# Print the results for each school
print(results_df)

                             type  Total Students  Total Budget  \
school_name
Bailey High School     [District]            4976     3124928.0
Cabrera High School     [Charter]            1858     1081356.0
Figueroa High School   [District]            2949     1884411.0
Ford High School       [District]            2739     1763916.0
Griffin High School     [Charter]            1468      917500.0
Hernandez High School  [District]            4635     3022020.0
Holden High School      [Charter]             427      248087.0
Huang High School      [District]            2917     1910635.0
Johnson High School    [District]            4761     3094650.0
Pena High School        [Charter]             962      585858.0
Rodriguez High School  [District]            3999     2547363.0
Shelton High School     [Charter]            1761     1056600.0
Thomas High School      [Charter]            1635     1043130.0
Wilson High School      [Charter]            2283     1319574.0
Wright High School      [Charter]            1800     1049400.0

                       Average Math Score  Average Reading Score  \
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

                       % Passing Math  % Passing Reading  % Overall Passing
school_name
Bailey High School          66.680064          81.933280          54.642283
Cabrera High School         94.133477          97.039828          91.334769
Figueroa High School        65.988471          80.739234          53.204476
Ford High School            68.309602          79.299014          54.289887
Griffin High School         93.392371          97.138965          90.599455
Hernandez High School       66.752967          80.862999          53.527508
Holden High School          92.505855          96.252927          89.227166
Huang High School           65.683922          81.316421          53.513884
Johnson High School         66.057551          81.222432          53.539172
Pena High School            94.594595          95.945946          90.540541
Rodriguez High School       66.366592          80.220055          52.988247
Shelton High School         93.867121          95.854628          89.892107
Thomas High School          93.272171          97.308869          90.948012
Wilson High School          93.867718          96.539641          90.582567
Wright High School          93.333333          96.611111          90.333333

In [195]:
highest_passing_df = results_df.sort_values("% Overall Passing", ascending=False)
highest_passing_df.head(5)

,type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,[Charter],1858,1081356.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,1043130.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,917500.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,1319574.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,585858.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [196]:
lowest_df = results_df.sort_values("% Overall Passing", ascending=True)
lowest_df.head(5)

,type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,[District],3999,2547363.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,1884411.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,1910635.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,3022020.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,3094650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [203]:
#Average Scores
grouped_df = merged_df.groupby(['school_name', 'grade'])
avg_math_score = grouped_df['math_score'].mean()
avg_reading_score = grouped_df['reading_score'].mean()
avg_math_score
avg_reading_score

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64

In [208]:
#Scores by spending

# create bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
results_df["average_budget"] = total_budget / total_students

# categorize spending based on the bins
results_df["spending_ranges (Per Student)"] = pd.cut(results_df["average_budget"], spending_bins, labels=labels)

# calculate mean scores per spending range
spending_math_scores = results_df.groupby(["spending_ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = results_df.groupby(["spending_ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = results_df.groupby(["spending_ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = results_df.groupby(["spending_ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = results_df.groupby(["spending_ranges (Per Student)"]).mean()["% Overall Passing"]

# create DataFrame with the above metrics
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# display the table
display(spending_summary)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
spending_ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [209]:
#Scores by school size

# create bins and labels
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# categorize school size based on the bins
results_df["School Size"] = pd.cut(results_df["Total Students"], size_bins, labels=labels)

# calculate mean scores per school size
size_math_scores = results_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = results_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = results_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = results_df.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_size = results_df.groupby(["School Size"]).mean()["% Overall Passing"]

# create DataFrame with the above metrics
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": overall_passing_size
})

# display the table
display(size_summary)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [224]:
#scores by school type

#Cannot figure out the solution, please let me know the correct answer, thank you.

C:\Users\liu12\AppData\Local\Temp\ipykernel_14976\1489454662.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  type_math_scores = results_df.groupby(["type"]).mean()["Average Math Score"]

TypeError: unhashable type: 'list'